<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>callamanagement</title>
</head>
<style>
    #myform {
        display: none;
    }

    #addreminder {
        display: none;
    }


    #callupdate {
        display: none;
    }

    #checkbox {
        display: none;
    }
</style>

<body>
    <div class="container">
        <h1 class="text-center"> call management </h1>
        <p class="text-center">click id and close the lead</p>




        <table class="table table-striped">
            <thead class="bg-dark text-white">
                <tr>
                    <th scope="col">Customer id</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Customer email</th>
                    <th scope="col">lead status</th>
                    <th scope="col">lead desc</th>

                    <th scope="col">forworded to</th>
                    <th scope="col">employee</th>
                    <th scope="col">close lead</th>


                    <th scope="col">lead Desc</th>


                </tr>
            </thead>
            <tbody>



                <% if(typeof cust !='undefined' ){ %>
                    <% cust.forEach(i=>{ %>
                        <tr>
                            <th scope="row">
                                <a href="/emp/lead/closelead/<%- i.c_id %>" style="text-decoration: none; ">
                                    <%- i.c_id %>
                                </a>

                            </th>
                            <td>
                                <%- i.c_name %>
                            </td>
                            <td>
                                <%- i.c_email %>
                            </td>
                            <td>
                                <%- i.lead_type%>
                            </td>
                            <td>
                                <%- i.lead_desc%>
                            </td>

                            <td>
                                <%- i.forworded_to%>
                            </td>
                            <td>
                                <%-i.employee_working%>
                            </td>
                            <td>
                                <form action="/emp/lead/callmanagement/close" method="POST">
                                    <input type="text" class="d-none" name="c_id" id="" value="<%-i.c_id%>">
                                    <button class="btn btn-primary" type="submit">close lead</button>
                                </form>
                            </td>

                            <td>
                                <form action="/emp/lead/callmanagement/calldesc" method="POST">
                                    <input type="text" class="d-none" name="c_id" id="" value="<%-i.c_id%>">
                                    <button class="btn btn-primary" type="submit">lead desc</button>
                                </form>
                            </td>

                        </tr>



                        <%}); %>
                            <% } %>







            </tbody>
        </table>





        <form action="/emp/lead/updatecall" class="w-75 m-auto" id="myform" method="POST">
            <div>
                <h1 class="text-center">Lead modification form</h1>
            </div>
            <div class="form-group p-3">

                <label>Customer Name <span class="star">*</span></label>
                <input type="text" name="c_name" id="custname" class="form-control" aria-describedby="emailHelp"
                    placeholder="Enter Customer Name" required>

            </div>
            <div class="form-group p-3">
                <label>Customer Id <span class="star">*</span></label>
                <input type="text" readonly class="form-control" id="custid" name="c_id" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter Customer Id">

            </div>
            <div class="form-group p-3">
                <label>Customer Email<span class="star">*</span></label>
                <input type="email" name="c_email" id="custemail" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter email" required>

            </div>


            <div class="form-group p-3 ">
                <label for="exampleInputPassword1">lead status </label>
                <select name="lead_status" onchange="display_check()" id="leadstatus">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select>
            </div>

            <div class="p-3" id="checkbox">
                <input type="checkbox" name="check_status" checked readonly>
                <label class="m-lg-2"> product has been sold </label>
            </div>
            <div class="form-group p-3">
                <input type="submit" class="form-control p-2 bg-primary text-white" id="exampleInputPassword1"
                    value="Submit">
            </div>

        </form>









        <form action="/emp/lead/addreminder" class="w-75 m-auto" id="addreminder" method="POST">
            <div>
                <h1 class="text-center">Add Reminder</h1>
            </div>

            <div class="form-group p-3">
                <label>Customer Id <span class="star">*</span></label>
                <input type="text" readonly class="form-control" id="remcustid" name="cust_id" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter Customer Id">

            </div>

            <div class="form-group p-3">

                <label>Next Call Date <span class="star">*</span></label>
                <input type="date" name="rem_date" id="custname" class="form-control" aria-describedby="emailHelp"
                    required>

            </div>
            <div class="form-group p-3">
                <label>Next call Time <span class="star">*</span></label>
                <input type="time" class="form-control" id="custid" name="rem_time" id="exampleInputEmail1"
                    aria-describedby="emailHelp">

            </div>
            <div class="form-group p-3">
                <label>Call Desc<span class="star">*</span></label>
                <input type="text" name="rem_desc" id="custemail" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter desc about the call" required>

            </div>


            <div class="form-group p-3">
                <input type="submit" class="form-control p-2 bg-primary text-white" id="exampleInputPassword1"
                    value="Submit">
            </div>

        </form>






















    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
    <script>
        const myform = document.querySelector('#myform');
        const reminder = document.querySelector('#addreminder')
        const calldesct = document.querySelector('#calldesc');
        const checkbox = document.querySelector('#checkbox');


        function modify(btn) {
            checkbox.style.display = 'none';

            const parent = btn.parentElement.parentElement;
            const c_id = parent.children[0].innerText;
            const c_name = parent.children[1].innerText;
            const c_email = parent.children[2].innerText;
            const lead_status = parent.children[3].innerText;
            myform.style.display = 'block'
            reminder.style.display = 'none'

            const custname = document.querySelector('#custname');
            const custid = document.querySelector('#custid');
            const custemail = document.querySelector('#custemail');
            const leadstatus = document.querySelector('#leadstatus')

            custname.value = c_name;
            custid.value = c_id;
            custemail.value = c_email;
            leadstatus.value = lead_status;

        }

        function addreminder(btn) {
            myform.style.display = 'none';
            reminder.style.display = 'block';
            checkbox.style.display = 'none';



            let parent = btn.parentElement.parentElement;
            let c_id = parent.children[0].innerText;
            let custid = document.querySelector('#remcustid');
            custid.value = c_id;




        }
        // dought string to json not converting
        // function calldesc(btn) {
        //     const str = ;
        //     console.log(str);
        //     console.log(typeof str);
        //     const obj = JSON.parse(str);
        //     console.log(obj);
        //     console.log(typeof obj);
        //     obj.forEach(element => {
        //         console.log(element);
        //     });

        //     myform.style.display = 'none';
        //     reminder.style.display = 'none';
        //     callupdatet.style.display = 'none';
        //     calldesct.style.display = 'block';










        // }

        function display_check() {
            console.log("display block function was executed");
            checkbox.style.display = 'block';
        }


    </script>
</body>

</html>